# Git
.git
.gitignore

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.conda/
mambaforge/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints
kreview_cache/

# Quarto
.quarto/
_site/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data
data/
output/
krewlyzer_output/
*.parquet
*.csv
*.tsv
*.bam
